@import 'syntax-variables';

atom-text-editor, :host {
    background-color: @syntax-background-color;
    color: @syntax-text-color;
    
    .invisible-character {
        color: @syntax-invisible-character-color;
    }
    
    .indent-guide {
        color: @syntax-indent-guide-color;
    }
    
    .wrap-guide {
        background-color: @syntax-wrap-guide-color;
    }
    
    .gutter {
        background-color: @syntax-gutter-background-color;
    }
    .gutter .cursor-line {
        background-color: @syntax-gutter-background-color-selected;
    }
    .line-number.cursor-line-no-selection {
        background-color: @syntax-gutter-background-color-selected;
    }
    
    .gutter .line-number.folded,
    .gutter .line-number:after,
    .fold-marker:after {
        color: @lavender;
    }
    
    .invisible {
        color: @syntax-text-color;
    }
    
    .cursor {
        border-color: @syntax-cursor-color;
    }
    
    .selection .region {
        background-color: @syntax-selection-color;
    }
    
    // Markdown Styles
    
    .source.gfm {
        color: @light-gray;
    }
    
    .gfm {
        .markup.heading {
            color: @light-yellow;
        }
        
        .variable.list,
        .support.quote {
            color: @dark-gray;
        }
        
        .link .entity {
            color: white;
        }
        
        .link {
            color: @dark-gray;
        }
        
        .raw {
            color: @red;
        }
    }
    
    .markdown {
        .paragraph {
            color: @gray;
        }
        
        .heading {
            color: @light-yellow;
        }
        
        .raw {
            color: @red;
        }
        
        .link {
            color: @dark-gray;
            
            .string {
                color: @dark-gray;
                
                &.title {
                    color: @lighter-gray;
                }
            }
        }
    }
}

.bracket-matcher .region {
    border-radius: 2px;
    border-bottom: 2px solid @light-yellow;
    background-color: @darker-gray;
}

.comment {
    color: @darkish-gray;
}

.entity {
    color: @portafino;
    
    //Function definition
    &.function {
        color: @red;
    }
    
    &.name.type {
        text-decoration: underline;
        color: @portafino;
    }
    
    &.other.inherited-class {
        color: @flat-red;
    }
}

.keyword {
    color: @flat-blue;
    
    &.control {
        color: @flat-blue;
    }
    
    &.operator {
        color: @lighter-gray;
    }
}

.storage {
    color: @portafino;
    
    &.type {
        color: @flat-blue;
    }
    
    &.modifier {
        color: @flat-blue;
    }
}

.constant {
    color: @flat-green;
    
    &.character.escape {
        color: @teal;
    }
    
    &.numeric {
        color: @purple;
    }
    
    &.language {
        color: @red;
    }
}

.variable {
    color: @flat-blue;
}

.invalid.deprecated {
    text-decoration: underline;
    color: @orange;
}

.invalid.illegal {
    color: @yellow;
    background-color: @red;
}

// String interpolation in Ruby, CoffeeScript, and others
.string {
    .source,
    .meta.embedded.line {
        color: @lighter-gray;
    }
    
    .punctuation.section.embedded {
        color: @teal;
        
        .source {
            color: @teal;  // Required for the end of embedded strings in Ruby #716
        }
    }
}

.string {
    color: @flat-green;
    
    .constant {
        color: @teal;
    }
    
    &.regexp {
        color: @orange;
        
        .constant.character.escape,
        .source.ruby.embedded,
        .string.regexp.arbitrary-repetition {
            color: @flat-orange;
        }
        
        &.group {
            color: @light-yellow;
            background-color: rgba(255, 255, 255, 0.06);
        }
        
        &.character-class {
            color: @portafino;
        }
    }
    
    .variable {
        color: @lavender;
    }
}

.support {
    color: @portafino;
    
    // Function call
    &.function {
        color: @light-yellow;
    }
    
    &.constant {
        color: @light-yellow;
    }
    
    &.type.property-name.css {
        color: @very-light-gray;
    }
}

.source .entity.name.tag,
.source .punctuation.tag {
    color: @portafino;
}
.source .entity.other.attribute-name {
    color: @flat-blue;
}

.entity {
    &.other.attribute-name {
        color: @teal;
    }
    
    &.name.tag.namespace,
    &.other.attribute-name.namespace {
        color: @orange;
    }
}

.meta {
    &.function-call {
        color: @light-yellow;
    }
    
    &.preprocessor.c {
        color: @flat-blue;
    }
    
    &.preprocessor.c .keyword {
        color: @teal;
    }
    
    &.cast {
        color: @darkish-gray;
    }
    
    &.sgml.html .meta.doctype,
    &.sgml.html .meta.doctype .entity,
    &.sgml.html .meta.doctype .string,
    &.xml-processing,
    &.xml-processing .entity,
    &.xml-processing .string {
        color: @dark-gray;
    }
    
    &.tag .entity,
    &.tag > .punctuation,
    &.tag.inline .entity {
        color: @teal;
    }
    &.tag .name,
    &.tag.inline .name,
    &.tag > .punctuation {
        color: @light-blue;
    }
    
    &.selector.css .entity.name.tag {
        text-decoration: underline;
        color: @light-blue;
    }
    
    &.selector.css .entity.other.attribute-name.tag.pseudo-class {
        color: @light-green;
    }
    
    &.selector.css .entity.other.attribute-name.id {
        color: @teal;
    }
    
    &.selector.css .entity.other.attribute-name.class {
        color: @light-blue;
    }
    
    &.property-group .support.constant.property-value.css,
    &.property-value .support.constant.property-value.css {
        color: @portafino;
    }
    
    &.preprocessor.at-rule .keyword.control.at-rule {
        color: @teal;
    }
    
    &.property-value .support.constant.named-color.css,
    &.property-value .constant {
        color: @light-green;
    }
    
    &.constructor.argument.css {
        color: @flat-green;
    }
    
    &.diff,
    &.diff.header {
        color: @very-light-gray;
        background-color: @very-dark-gray;
    }
    
    &.separator {
        color: @flat-green;
        background-color: @darker-gray;
    }
    
    &.line.entry.logfile,
    &.line.exit.logfile {
        background-color: rgba(238, 238, 238, 0.16);
    }
    
    &.line.error.logfile {
        background-color: @red;
    }
}
