// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #eeeeee;
@lighter-gray: #d4d4d4;
@light-gray: #c5c8c6;
@gray: #888888;
@dark-gray: #444444;
@darker-gray: #2e2e2e;
@very-dark-gray: #1d1f21;

@flat-blue: #96CBFE;
@flat-yellow: #A8FF60;
@flat-orange: #E9C062;
@flat-red: #CC6666;

@light-blue: #C6C5FE;
@light-green: #99CC99;
@cream: #F9EE98;
@tan: #DAD085;
@vibrant-blue: #62B1FE;
